div.wrapper_gallery {
   .row {
      margin-bottom: 1.5em;
   }

   img[tabindex="0"] {
     cursor: zoom-in;

     &:focus {

     }

      &:focus ~ * {}
     
   }

   img[tabindex="0"]:focus {
     position: fixed;
     z-index: 10;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: auto;
     height: auto;
     max-width: 99%;
     max-height: 99%;
     margin: auto;
     box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
   }

   img[tabindex="0"]:focus,  
   img[tabindex="0"]:focus ~ * {
     pointer-events: none;
     cursor: zoom-out;
   }

   p {
      text-align: center;
   }
}
