
p.slogan {
   margin-top: 3em;
}

p.next_meeting {
   margin-top: 3em;
}

.panel h3 {
   font-size: @font-size-base;
   margin-bottom: 2px;
   margin-top: 3px;
}

.module-plus {
   i { color: @brown;}
   color: darken(@brown, 30%);
   text-align: center;
   font-size: @font-size-h4;
}

.wrapper_modules {
   h2 {
      margin-bottom: 22px;
   }
}

.know_more {
   h2 {
      margin-bottom: 22px;
   }

   & > div.container > div.row {
      margin-bottom: 18px;

      & > div {
         text-align: center;
      }
   }
}
