
.wrapper_subscribe {
    background-color: @cyan;
    color: @grey_outer;
    
    input {
        color: @dark_outer;
    }
    
    h2 {
        text-align: center;
    }
    
    label {
        display: inline-block;
        width: 200px;
        text-align: right;
    }
    
    label[for="mce-MMERGE5"] {
        display: inline-block;
        width: 200px;
        text-align: rigth;
        
        @media (min-width: 768px) and (max-width: 982px) {
            width: 80em;
            text-align: left;
        }
    }
    
    
    @media  (min-width: 765px) {
        form {
            .row {
                margin-top: 1em;
            }
        }
    }
}
